@model IEnumerable<TaskManager.WEB.Models.DepartmentViewModel>
@{
    ViewBag.Title = "Отделения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success btn-sm" href="@Url.Action("Create","Department")">
        <i class="far fa-plus-square">
        </i>
        Добавить
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DName)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="2" class="text-center">Не найдено отделении</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DName)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("AboutDepartment", "Home", new { id = item.Id })">
                        <i class="fas fa-folder">
                        </i>
                    </a>
                </td>
            </tr>
        }
    }

</table>
