
@{
    ViewBag.Title = "Панель администратора";
}
<div class="jumbotron">
    <h1>Добро пожаловать в панель администратора!</h1>
    <p class="lead">Для выбора данных для управления нажмите кнопку <b>Управление</b> в вверху сайта.</p>
</div>


